:root {
  --clr-red: #d14f45;
  --clr-blue: #55bce7;
  --clr-lightgrey: #d6e2ec;
  --clr-darknavy: #17313f;
  --clr-yellow: #ecc75d;
  --clr-white: #fff;

  --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  line-height: 1.8;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  padding: 1em 3em;
}

.logo,
.main-title,
.info-title,
.quote-by,
.image-desc,
.cto-desc {
  font-style: italic;
}

section {
  padding: 1.5em 3em;
}

footer {
  padding: 1em;
}

.bg-red {
  background-color: var(--clr-red);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-lightgrey {
  background-color: var(--clr-lightgrey);
}

.bg-yellow {
  background-color: var(--clr-yellow);
  margin-top: 10rem;
}

header,
.main,
.cto,
footer {
  color: var(--clr-white);
}

.info-section,
.quote-section {
  color: var(--clr-darknavy);
}

.text-center {
  text-align: center;
}

.container,
.info-images {
  display: flex;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 3rem;
}

.links {
  display: flex;
  gap: 0.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

.main-title {
  font-size: 2rem;
}

.main-desc {
  width: 70%;
  margin-bottom: 1em;
}

.main-image {
  width: 300px;
  border: solid 2px #fff;
}

.main-bttn {
  background-color: var(--clr-blue);
}

.main-bttn,
.bottom-bttn {
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;

  border: 2px solid white;
  color: var(--clr-white);
}

button:hover {
  cursor: pointer;
}

.info-section {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info-title {
  margin-top: 10px;
}

.info-images {
  margin-top: 20px;
  gap: 3.5em;
}

.image-section {
  flex-direction: column;
}

.image-square {
  width: 200px;
  height: 200px;
  border: #fff solid 3px;
}

.image-desc {
  margin-top: 20px;
  text-align: center;
}

/* images */
#img-playing,
#img-kiss,
#img-vibin,
#img-panic,
.image-placeholder {
  background-repeat: no-repeat;
  background-size: cover;
}

#img-playing {
  background-image: url(./images/playing.gif);
  background-position-x: -35px;
}
#img-kiss {
  background-image: url(./images/kiss-mom.gif);
  background-position-x: -15px;
}

#img-vibin {
  background-image: url(./images/vibin.gif);
  background-position-x: -35px;
}

#img-panic {
  background-image: url(./images/panic.gif);
  background-position-x: -30px;
}

.quote-section {
  text-align: center;
  padding-bottom: 30px;
}

.cto-section {
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

.cto-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: #fff;
  padding: 1rem;
}

.cto-left,
.cto-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cto-left {
  padding-left: 30px;
}

.cto-right {
  padding-right: 30px;
}

.bottom-bttn {
  background-color: var(--clr-yellow);
}

footer > a {
  font-size: 1rem;
}
