:root {
  --clr-red: #d14f45;
  --clr-blue: #55bce7;
  --clr-lightgrey: #d6e2ec;
  --clr-darknavy: #17313f;
  --clr-yellow: #ecc75d;
  --clr-white: #fff;

  --ff-primary: 'Roboto', sans-serif;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.2rem;
  line-height: 1.8;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

header {
  padding: 1em 3em;
}

.logo,
.main-title,
.info-title,
.quote-by {
  font-style: italic;
}

section {
  padding: 1.5em 3em;
}

footer {
  padding: 1em;
}

.bg-red {
  background-color: var(--clr-red);
}

.bg-blue {
  background-color: var(--clr-blue);
}

.bg-lightgrey {
  background-color: var(--clr-lightgrey);
}

.bg-yellow {
  background-color: var(--clr-yellow);
  margin-top: 10rem;
}

header,
.main,
.cto,
footer {
  color: var(--clr-white);
}

.info-section,
.quote-section {
  color: var(--clr-darknavy);
}

.text-center {
  text-align: center;
}

.container,
.img-section {
  display: flex;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 3rem;
}

.links {
  display: flex;
  gap: 0.5em;
}

.main-title {
  font-size: 2rem;
}

.main-desc {
  width: 70%;
  margin-bottom: 1em;
}

.main-image {
  width: 300px;
  border-style: dotted;
  padding: 0.1rem;
}

.main-bttn {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;

  border: 2px solid white;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.info-section {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-section {
  display: flex;
}

.quote-section {
  text-align: center;
}

.cto {
  justify-content: center;
}
