* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.header-section {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  /* padding-left: 10px; */
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;

  display: flex;
  list-style-type: none;
  margin: 0;
  /* padding-right: 10px; */
  gap: 20px;
  align-items: center;
}

.main-section {
  background-color: #1f2937;
  padding: 50px 20px;

  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main-section-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.main-button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  width: 100px;
}

button:hover {
  cursor: pointer;
}

.image-placeholder {
  background-color: gray;
  color: white;

  width: 350px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-heading {
  font-size: 36px;
  font-weight: bolder;

  color: #1f2937;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.info-images {
  display: flex;
}

.info-images {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 30px 100px;
}

.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-square {
  width: 100px;
  height: 100px;

  border: 3px solid #3882f6;
  border-radius: 16px;
}

.image-desc {
  width: 150px;
  text-align: center;
  color: #1f2937;
}
